# Items used by Eclipse PDT IDE for project management
.settings/
.buildpath
.project
.dbeaver/
# Composer vendor folder
vendor/
# Folder for private user usage
_private/
# Cache folder content will be ignored inside the repository
examples/_cache/*
test/_cache/*
# The .gitkeep file will be placed inside the cache folder (so the folder is always empty inside the repository)
!examples/_cache/.gitkeep
!test/_cache/.gitkeep
