# Items used by Eclipse PDT IDE for project management
/.settings/
.buildpath
.project
/.dbeaver/
# Composer vendor folder
/vendor/
# Examples cache folder
/examples/cache/
# Folder for private user usage
/_private/
