html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-image: url("background.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
body > div {
	background-color: white;
	background-color: rgba(255, 255, 255, .7);
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	text-align: center;
}
h1 {
	margin: 0; 
}
p {
	margin: 15px 0px 5px 0px;
}
a > img {
	margin-top: 5px;
	margin-bottom: 0px;
	border-bottom: 2px solid transparent;
}
a:hover > img {
	margin-top: 0px;
	margin-bottom: 5px;
	border-bottom: 2px solid black;
}
