#ant_search_accordion {
	position: relative;
}
/* the header has a relative position, to position the access button */
#ant_search_accordion .ant_panel > .ant-header {
	position: relative;
}
#ant_search_accordion .ant_panel > .ant-header > * {
	vertical-align: middle;
}
/* the selection checkbox (the only div in the header) */
#ant_search_accordion .ant_panel > .ant-header > div:first-child {
	position: absolute;
}
/* if a div is present in the header, that is the selection checkbox */
/* so I will push the trigger to the right */
#ant_search_accordion .ant_panel > .ant-header > div:first-child + * {
	margin-left: var(--ant_var-rem30px);
}
/* the image left to the name of the item */
#ant_search_accordion .ant_panel > .ant-header > img {
	width: var(--ant_var-rem32px);
	height: var(--ant_var-rem32px);
}
#ant_search_accordion .ant_panel > .ant-header > a {
	color: var(--ant-theme-link);
	margin-left: 5px;
}
/* the access button (the round one) */
#ant_search_accordion .ant_panel > .ant-header > a:last-child {
	position: absolute;
	background-color: var(--ant-theme-buttonBackground);
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	font-size: 1px;
	text-align: center;
	transition: all 0.5s;
	opacity: 0;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	padding-top: 0px;
	color: rgba(255,255,255,0);
}
#ant_search_accordion .ant_panel > .ant-header a:last-child.ant-visible {
	opacity: 1;
	bottom: var(--ant_var-rem20px-);
	right: var(--ant_var-rem20px-);
	width: var(--ant_var-rem40px);
	height: var(--ant_var-rem40px);
	color: var(--ant-theme-buttonText);
	padding-top: var(--ant_var-rem8px);
	font-size: var(--ant_var-rem20px);
}
#ant_search_accordion .ant_panel > .ant-header a:last-child.ant-visible:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
}
#ant_search_accordion > div.ant_panel {
	border-left-width: 1px;
	border-right-width: 1px;
	transition: border-left-width .5s, border-right-width .5s;
}
#ant_search_accordion div.ant_panel.ant-selected {
	background-color: var(--ant-theme-panelBackground);
	border-color: var(--ant-theme-warning);
	border-left-width: var(--ant_var-rem10px);
	border-right-width: var(--ant_var-rem10px);
}
/* The optional buttons (menu) */
#ant_search_accordion .ant-buttons-row > div {
	display: flex;
	flex-wrap: wrap;
}
#ant_search_accordion .ant-buttons-row > div > input[type=button] {
	margin: 5px;
	width: 100%;
}
/* the container properties (the name is the first child, the value is the last child) */
#ant_search_accordion .ant-properties-row > div > div:first-child {
	font-size: var(--ant_var-rem14px);
	font-weight: bold;
	display: block;
	padding-top: 5px;
}
#ant_search_accordion .ant-properties-row > div > div:last-child {
	font-size: var(--ant_var-rem18px);
	display: block;
	border-bottom: 1px solid var(--ant-theme-panelBorder);
	padding-top: 5px;
	padding-bottom: 5px;
}	
@media only screen and (min-width: 768px) {
	#ant_search_accordion .ant-properties-row > div > div:first-child {
		text-align: left;
		width: auto;
	}
	#ant_search_accordion .ant-properties-row > div > div:last-child {
		border-bottom: none;
	}
	#ant_search_accordion .ant-buttons-row > div > input[type=button] {
		width: auto;
	}
}