div.ant_search_card {
	position: relative;
	display: block;
	border: 1px solid var(--ant-theme-panelBorder);
	border-radius: 4px;
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
	overflow: hidden;
	background-color: var(--ant-theme-panelBackground);
	text-align: center;
	height: 400px;
	overflow: hidden;
	margin: 5px;
}
div.ant_search_card.ant-selected {
	border: 2px solid var(--ant-theme-warning);
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
}
/* selection checkbox container */
div.ant_search_card-checkbox:before {
	position: absolute;
	content: "";
	left: 0px;
	top: 0px;
	display: block;
	width: var(--ant_var-rem30px);
	height: 100%;
	background-color: var(--ant-theme-panelBackground);
	opacity: .8;
	border-radius: 0px 0px 5px 5px;
}
div.ant_search_card.ant-selected div.ant_search_card-checkbox:before {
	opacity: 1;
}
div.ant_search_card-checkbox {
	position: absolute;
	left: var(--ant_var-rem5px);
	top: var(--ant_var-rem5px);
}
/* main image */
div.ant_search_card img {
	width: 100%;
	border-bottom: 1px solid var(--ant-theme-panelBorder);
}
div.ant_search_card img.maximum {
	height: 300px;
}
div.ant_search_card img.medium {
	height: 150px;
}
div.ant_search_card img.fill {
	object-fit : cover;
}
div.ant_search_card img.fit {
	object-fit : contain;
}
/* main image link, if present */
div.ant_search_card > a.ant_search_card-imageLink > img {
	outline: none;
	outline-offset: -2px;
}
div.ant_search_card > a.ant_search_card-imageLink:hover > img {
	outline: 2px solid var(--ant-theme-panelBorder);
}
/* item name */
div.ant_search_card > p:first-of-type {
	font-size: var(--ant_var-rem14px);
	font-weight: bold;
	margin-top: .7em;
}
/* item description */
div.ant_search_card > p:nth-of-type(2) {
	font-size: var(--ant_var-rem14px);
}
/* details page access button */
div.ant_search_card > .ant_search_card-access {
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	padding: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: var(--ant_var-rem16px);
	border-radius: 4px;
	transition: 0.5s;
	position: absolute;
	bottom: 10px;
	left: 30px;
	width: calc(100% - 60px);
	cursor: pointer;
	border: none;
}
div.ant_search_card > .ant_search_card-access:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
	cursor: pointer;
	text-decoration: none;
}
/* additional info trigger button */
div.ant_search_card > button:last-of-type {
	position: absolute;
	top: 20px;
	right: 20px;
	width: var(--ant_var-rem34px);
	height: var(--ant_var-rem34px);
	padding: 0;
	margin: 0;
	padding-top: calc(var(--ant_var-rem10px) * .4);
	border-radius: 50%;
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	transition: 0.5s;
	cursor: pointer;
	border: none;
}
div.ant_search_card > button:last-of-type:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
	padding-top: calc(var(--ant_var-rem10px) * .2);
}
/* the additional info container */
div.ant_search_card > div:last-of-type {
	position: absolute;
	top: 400px;
	left: 0px;
	width: 100%;
	height: 400px;
	background-color: var(--ant-theme-panelBackground);
	opacity: 0;
	transition: 0.5s;
}
div.ant_search_card.ant-details > div:last-of-type {
	top: 0px;
	opacity: 1;
}
div.ant_search_card > div > p {
	font-size: var(--ant_var-rem14px);
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--ant-theme-panelBorder);
}
div.ant_search_card > div:last-of-type > dl > dt {
	font-size: var(--ant_var-rem12px);
	font-weight: bold;
	text-align: left;
	margin-left: 15px;
}
div.ant_search_card > div:last-of-type > dl > dd {
	font-size: var(--ant_var-rem12px);
	text-align: left;
	margin-left: 15px;
	margin-bottom: 5px;
}
/* close additional info button */
div.ant_search_card > div:last-of-type > button {
	position: absolute;
	top: 5px;
	right: 5px;
	color: var(--ant-theme-text);
	text-decoration: none;
	display: block;
	font-size: var(--ant_var-rem16px);
	transition: 0.5s;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
div.ant_search_card > div:last-of-type > button:hover {
	color: var(--ant-theme-link);
	text-decoration: none;
}