:root {
	--ant_layers_inlineHelp : 10;
	--ant_layers_topBar : 20;
	--ant_layers_modal : 30;
	--ant_layers_text-message : 40;
	--ant_layers_fixed-buttons : 50;
	--ant_layers_appMenu : 60;
	--ant_layers_loading : 70;
	--ant_layers_fullPageMessage : 80;
}