/* the container for all app menu items, including the overlay */
#ant_appMenu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	overflow-x: hidden;
	transition: width 0s;
	transition-delay: 0.5s;
	transition-timing-function: linear;
}
#ant_appMenu.ant-enabled {
	width: 100%;
	transition: width 0s;
	transition-delay: 0.1s;
}
/* the transparent overlay */
#ant_appMenu > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--ant-theme-overlay);
	transition: left 0.5s, opacity 0.5s;
	transition-delay: 0.2s;
	opacity: 0;
}
#ant_appMenu.ant-enabled > div {
	left: 280px;
	opacity: 1;
}
/* the left container */
#ant_appMenu > nav {
	position: absolute;
	left: -280px;
	top:0px;
	background-color: var(--ant-theme-menuBackground);
	width: 280px;
	height: 100%;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	padding-bottom: 50px;
	transition: left 0.5s;
	transition-delay: 0.2s;
}
#ant_appMenu.ant-enabled > nav {
	left: 0px;
}
/* app logo */
#ant_appMenu > nav > img {
	margin-top: 30px;
}
/* app name */
#ant_appMenu > nav > p {
	color: var(--ant-theme-menuText);
	font-size: 18px;
}
/* a menu and a submenu item */
#ant_appMenu a {
	color: var(--ant-theme-menuText);
	display: block;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 30px;
	text-align: left;
	border-bottom: 1px solid var(--ant-theme-menuText);
	text-decoration: none;
}
#ant_appMenu a > img {
	margin-right: 5px;
}
#ant_appMenu a:hover {
	background-color: var(--ant-theme-menuBackground);
	background: linear-gradient(to right, var(--ant-theme-menuBackground) 60%, var(--ant-theme-menuBackgroundHover));
}
#ant_appMenu a:hover > img {
	filter: brightness(120%);
}
#ant_appMenu a > * {
	vertical-align: middle;
}
/* submenu item */
#ant_appMenu > nav > div {
	padding-left: 20px;
	opacity: 0;
	transition: opacity 1s;
	overflow: hidden;
	height: 0;
}
#ant_appMenu a.ant-selected + div {
	opacity: 1;
	height: auto;
}
#ant_appMenu > nav > div > a {
	border-left: 1px solid var(--ant-theme-menuText);
	padding-left: 7px;
}