#ant_content {
	width: 100%;
	border-top: 1px solid var(--ant-theme-panelBorder);
	padding-top: 30px;
	margin-bottom: 70px;
}
body.ant-has-fixed-buttons #ant_content {
	margin-bottom: 100px;
}
div#ant_content-debugTest {
	position: fixed;
	background-color: white;
	color: black;
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	left: 10px;
	bottom: 10px;
}