#ant_fixedButton {
	position: fixed;
	display: block;
	bottom: 30px;
	right: 100%;
	transition: 1s;
	opacity: 0;
	text-align: right;
	white-space: nowrap;
}
#ant_fixedButton.ant-enabled {
	right: 30px;
	opacity: 1;
}
#ant_fixedButton > a {
	display: inline-block;
	padding: 12px;
	margin-right: 15px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
	transition: 0.4s;
	color: var(--ant-theme-panelBorder);
	background-color: var(--ant-theme-panelBackground);
}
#ant_fixedButton > a:hover {
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
	padding: 20px;
}
#ant_fixedButton > a.ant-valid {
	color: var(--ant-theme-valid);
}
#ant_fixedButton > a.ant-warning {
	color: var(--ant-theme-warning);
}