form.jsf-max-height {
	height: 100%;
}
.jsf_form-item {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 2px;
}
.jsf_form-item.jsf-status {
	padding-right: 30px;
}
.jsf_form-item.jsf-status:after {
	position: absolute;
	top: 3px;
	right: 0px;
	font-family: 'Material Icons';
	font-size: 24px;
}
.jsf_form-item.jsf-valid:after {
	content: "\e876";
	color: var(--jsf-theme-valid);
}
.jsf_form-item.jsf-invalid:after  {
	content: "\e002";
	color: var(--jsf-theme-warning);
}
.jsf_form-item > i {
	position: absolute;
	top: 5px;
	right: 5px;
	color: var(--jsf-theme-inputIcon);
	pointer-events: none;
}
.jsf_form-item > select {
	display: none;
}
.jsf_form-item.jsf-status > i {
	right: 33px;
}
input[type=text], input[type=password], input[type=email],
input[type=tel], input[type=number], input[type=color], textarea {
	width: 100%;
	padding: 8px 35px 8px 15px;
	margin: 0;
	display: inline-block;
	border: 1px solid var(--jsf-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--jsf-theme-inputBackground);
	font-size: 14px;
	color: var(--jsf-theme-inputText);
}
input[type=color] {
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 32px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=tel]:focus, input[type=number]:focus, input[type=color]:focus, textarea:focus {
	box-shadow: 0px 0px 8px var(--jsf-theme-shadow);
	outline-color: var(--jsf-theme-inputBorder);
}
input[type=submit], input[type=button], input[type=reset]  {
	background-color: var(--jsf-theme-buttonBackground);
	color: var(--jsf-theme-buttonText);
	padding: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: 1px solid var(--jsf-theme-buttonBackground);
	border-radius: 4px;
	transition: 0.5s;
	font-size: 16px;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
	background-color: var(--jsf-theme-buttonBackgroundHover);
	cursor: pointer;
	text-decoration: none;
}
/* trigger buttons (used usually for modal opening */
input[type=button].jsf_form-button {
	width: 100%;
	padding: 8px 25px 8px 15px;
	background-color: var(--jsf-theme-inputBackground);
	color: var(--jsf-theme-inputText);
	display: block;
	border: 1px solid var(--jsf-theme-inputBorder);
	border-radius: 4px;
	text-align: left;
	overflow: hidden;
	outline:0;
	font-size: 14px;
	text-overflow: ellipsis;
}
input[type=button].jsf_form-button:hover {
	box-shadow: 0px 0px 4px var(--jsf-theme-shadow);
}
input[type=button].jsf_form-button:active {
	background-color: var(--jsf-theme-inputBackground);
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + span {
	position: relative;
	top: 0px;
	left: 0px;
	color: var(--jsf-theme-inputLabel);
	vertical-align: middle;
}
input[type=checkbox] + span:before {
	position: relative;
	font-family: 'Material Icons';
	font-size: 28px;
	content : "\e835";
	color: var(--jsf-theme-inputLabel);
	vertical-align: middle;
	margin-right: 6px;
}
input[type=checkbox]:checked + span:before {
	content : "\e876";
}
/* info type inputs (that are only displaying plain text) */
.jsf_form-item > span {
	color: var(--jsf-theme-text);
}
@media only screen and (min-width: 768px) {
	.jsf_form-item > span {
		display: inline-block;
		padding-top: 8px;
		padding-bottom: 3px;
	}
}
.jsf_form-label-container > * {
	vertical-align: middle;
}
@media only screen and (min-width: 768px) {
	.jsf_form-label-container {
		text-align: right;
		padding-right: 5px;
		margin-top: 7px;
		line-height: 15px;
	}
}