form.ant-max-height {
	height: 100%;
}
/** If the definition below is modified then the label definition should be updated also */
p.ant_form-text-label {
	font-size: var(--ant_var-rem14px);
	font-weight: bold;
	color: var(--ant-theme-inputLabel);
	margin: 0;
}
@media only screen and (min-width: 768px) {
	p.ant_form-text-label {
		margin-top: var(--ant_var-rem12px);
	}
}
.ant_form-item {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 2px;
}
.ant_form-item.ant-status {
	padding-right: var(--ant_var-rem30px);
}
.ant_form-item.ant-status:after {
	position: absolute;
	top: 0px;
	right: 3px;
	font-size: var(--ant_var-rem24px);
}
.ant_form-item.ant-valid:after {
	content: "✔";
	color: var(--ant-theme-valid);
}
.ant_form-item.ant-invalid:after  {
	content: "⚠";
	color: var(--ant-theme-warning);
}
.ant_form-item > svg {
	position: absolute;
	top: 6px;
	right: var(--ant_var-rem8px);
	color: var(--ant-theme-inputIcon);
	pointer-events: none;
}
.ant_form-item > select {
	display: none;
}
.ant_form-item.ant-status > svg {
	right: var(--ant_var-rem36px);
}
textarea {
	resize: vertical;
	min-height: var(--ant_var-rem50px);
}
input[type=text], input[type=password], input[type=email],
input[type=tel], input[type=number], input[type=color], textarea {
	width: 100%;
	padding: 8px 35px 8px 15px;
	margin: 0;
	display: inline-block;
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--ant-theme-inputBackground);
	font-size: var(--ant_var-rem14px);
	color: var(--ant-theme-inputText);
}
input[type=color] {
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: var(--ant_var-rem32px);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=tel]:focus, input[type=number]:focus, input[type=color]:focus,
textarea:focus, input[type=button].ant_form-button:focus {
	box-shadow: 0px 0px 8px var(--ant-theme-shadow);
	outline-color: var(--ant-theme-inputBorder);
}
input[type=submit], input[type=button], input[type=reset]  {
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	border: 1px solid var(--ant-theme-buttonBackground);
	padding: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: var(--ant_var-rem16px);
	border-radius: 4px;
	transition: 0.5s;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: var(--ant-theme-buttonBackgroundHover);
}
input.low-contrast[type=submit], input.low-contrast[type=button], input.low-contrast[type=reset]  {
	background-color: var(--ant-theme-buttonText);
	color: var(--ant-theme-buttonBackground);
	border: 1px solid var(--ant-theme-buttonBackground);
}
input.low-contrast[type=submit]:hover, input.low-contrast[type=button]:hover, input.low-contrast[type=reset]:hover {
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackgroundHover);
}
input.warning[type=submit], input.warning[type=button], input.warning[type=reset]  {
	background-color: var(--ant-theme-warning);
	color: var(--ant-theme-buttonText);
	border: 1px solid var(--ant-theme-warning);
}
input.warning[type=submit]:hover, input.warning[type=button]:hover, input.warning[type=reset]:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
}
/* trigger buttons (used usually for modal opening) */
input[type=button].ant_form-button {
	width: 100%;
	padding: 8px 25px 8px 15px;
	background-color: var(--ant-theme-inputBackground);
	color: var(--ant-theme-inputText);
	display: block;
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	text-align: left;
	overflow: hidden;
	outline:0;
	font-size: var(--ant_var-rem14px);
	text-overflow: ellipsis;
	transition: border-width 0s, padding 0s;
}
input[type=button].ant_form-button:hover {
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
}
input[type=button].ant_form-button:active {
	background-color: var(--ant-theme-inputBackground);
}
input[type=button].ant_form-button:focus {
	border-width: 2px;
	padding: 7px 24px 7px 14px;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + span {
	position: relative;
	top: 0px;
	left: 0px;
	padding-left: var(--ant_var-rem28px);
	padding-top: var(--ant_var-rem12px);
	padding-bottom: var(--ant_var-rem12px);
	color: var(--ant-theme-inputLabel);
	vertical-align: middle;
}
input[type=checkbox] + span:before {
	position: absolute;
	left: 0;
	top: 0;
	font-size: var(--ant_var-rem28px);
	content : "☐";
	color: var(--ant-theme-inputLabel);
	vertical-align: middle;
	margin-right: 6px;
}
input[type=checkbox]:checked + span:before {
	content : "✔";
}
/* info type inputs (that are only displaying plain text) */
.ant_form-item > span {
	color: var(--ant-theme-text);
}
@media only screen and (min-width: 768px) {
	.ant_form-item > span {
		display: inline-block;
		padding-top: 8px;
		padding-bottom: 3px;
	}
}
.ant_form-label-container > * {
	vertical-align: middle;
}
@media only screen and (min-width: 768px) {
	.ant_form-label-container {
		text-align: right;
		padding-right: 5px;
		margin-top: 7px;
		line-height: var(--ant_var-rem15px);
	}
}
p.ant_form-invalid-input-error {
	position: relative;
	margin-top: var(--ant_var-rem10px);
	margin-bottom: var(--ant_var-rem5px);
	display: flex;
	flex-direction: column;
}
p.ant_form-invalid-input-error > span {
	width: 100%;
	vertical-align: middle;
	font-weight: bold;
	white-space: nowrap;
	padding-top: 8px;
	text-align: left;
}
p.ant_form-invalid-input-error > button {
	vertical-align: middle;
	padding: 8px 15px 8px 15px;
	margin-left: 0px;
	margin-top: 5px;
	display: inline-block;
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--ant-theme-inputBackground);
	font-size: var(--ant_var-rem14px);
	color: var(--ant-theme-inputText);
	width: calc(100% - 30px);
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
p.ant_form-invalid-input-error > i {
	padding-right: var(--ant_var-rem30px);
	position: absolute;
	bottom: 3px;
	right: -30px;
	font-size: var(--ant_var-rem24px);
	color: var(--ant-theme-warning);
	font-style: normal;
}
p.ant_form-invalid-input-error > button:hover {
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
	cursor: pointer;
}