#ant_header {
	padding-top: 30px;
	background-color: var(--ant-theme-headerBackground);
	width: 100%;
	padding-bottom: 30px;
}
#ant_header > *:first-child {
	margin-left: 40px;
	margin-right: 40px;
}
#ant_header.ant-tabs {
	padding-bottom: 0;
}
body.ant_topBarFixed > #ant_header {
	/* height of the font with 15px margin top and bottom and 6px text shadow*/
	margin-top: calc(var(--ant_var-rem16px) + 36px);
}
/** start background image position and size */
#ant_header.ant-background-enabled {
	padding-top: 100px;
}
#ant_header.ant-background-enabled > *:first-child {
	background-color: var(--ant-theme-panelBackground);
	border: 8px solid var(--ant-theme-panelBackground);
	border-radius: 5px;
}
#ant_header.ant-fill {
	background-size: cover;
}
#ant_header.ant-fit {
	background-size: contain;
	background-repeat: no-repeat;
}
#ant_header.ant-center {
	background-position: center;
}
#ant_header.ant-n {
	background-position: top;
}
#ant_header.ant-s {
	background-position: bottom;
}
#ant_header.ant-e {
	background-position: right;
}
#ant_header.ant-w {
	background-position: left;
}
#ant_header.ant-ne {
	background-position: top right;
}
#ant_header.ant-nw {
	background-position: top left;
}
#ant_header.ant-se {
	background-position: bottom right;
}
#ant_header.ant-sw {
	background-position: bottom left;
}
/** stop background image position and size */
@media only screen and (min-width: 768px) {
	#ant_header.ant-fixed > *:first-child {
		margin-left: calc(calc(100vw - 710px) / 2);
		margin-right: calc(calc(100vw - 710px) / 2);
	}
}
@media only screen and (min-width: 992px) {
	#ant_header.ant-fixed > *:first-child {
		margin-left: calc(calc(100vw - 930px) / 2);
		margin-right: calc(calc(100vw - 930px) / 2);
	}
}
@media only screen and (min-width: 1200px) {
	#ant_header.ant-fixed > *:first-child {
		margin-left: calc(calc(100vw - 1130px) / 2);
		margin-right: calc(calc(100vw - 1130px) / 2);
	}
}
div#ant_header-tabs {
	overflow-x: auto;
	width: 100%;
	padding: 20px 30px 0px 30px;
	white-space: nowrap;
}
#ant_header-tabs.ant-hidden {
	overflow: hidden;
}
#ant_header-tabs.ant-hidden > * {
	visibility: hidden;
}
@media only screen and (min-width: 768px) {
	div#ant_header-tabs  {
		text-align: center;
	}
}
#ant_header-tabs > div {
	display: inline-block;
	text-align: right;
	border: 1px solid var(--ant-theme-tabText);
	border-bottom: none;
	border-radius: 6px 6px 0px 0px;
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
	background-color: var(--ant-theme-tabBackground);
	padding: 3px 7px 3px 7px;
}
#ant_header-tabs > div.ant-hidden {
	display: none;
}
#ant_header-tabs > div > a,
#ant_header-tabs > div > button {
	font-size: var(--ant_var-rem12px);
	display: inline-block;
	width: auto;
	height: auto;
	background-color: var(--ant-theme-tabBackground);
	color: var(--ant-theme-tabText);
	cursor: pointer;
	border: none;
	border-radius: 6px 6px 0px 0px;
	padding: 0;
}
#ant_header-tabs > div > a:nth-child(2)
#ant_header-tabs > div > button:nth-child(2) {
	margin-left: 7px;
}
#ant_header-tabs > div > a:hover {
	text-decoration: none;
}
#ant_header-tabs > div.ant-selected {
	color: var(--ant-theme-tabBackground);
	background-color: var(--ant-theme-tabText);
}
#ant_header-tabs > div.ant-selected > a,
#ant_header-tabs > div.ant-selected > button {
	color: var(--ant-theme-tabBackground);
	background-color: var(--ant-theme-tabText);
}
#ant_header-tabs > div.ant-accent > a,
#ant_header-tabs > div.ant-accent > button {
	font-weight: bold;
}
