.ant_inlineHelp {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: var(--ant-theme-buttonBackground);
	line-height: var(--ant_var-rem20px);
}
.ant_inlineHelp > span {
	display: none;
	width: calc(var(--ant_var-rem10px) * 16);
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	text-align: center;
	font-size: var(--ant_var-rem14px);
	font-weight: normal;
	border-radius: 6px;
	padding: 8px 8px 8px 8px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: calc(var(--ant_var-rem10px-) * 8);
}
.ant_inlineHelp > span::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: var(--ant_var-rem5px-);
	border-width: var(--ant_var-rem5px);
	border-style: solid;
	border-color: var(--ant-theme-buttonBackground) transparent transparent transparent;
}
.ant_inlineHelp.ant-visible > span {
	display: block;
}