button.ant_inlineButton {
	display: inline;
	text-align: left;
}
button.ant_inlineButton.ant-single-row {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
button.ant_inlineButton.ant-high, button.ant_inlineButton.ant-medium {
	border-radius: 4px;
	margin-bottom: 3px;
}
button.ant_inlineButton.ant-high > img,
button.ant_inlineButton.ant-medium > img {
	width: var(--ant_var-rem16px);
	height: var(--ant_var-rem16px);
}
button.ant_inlineButton.ant-high {
	font-size: calc(1em - 2px);
	padding: 4px 6px 4px 6px;
	border: 1px solid var(--ant-theme-buttonBackground);
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	transition: 0.5s;
}
button.ant_inlineButton.ant-medium {
	font-size: calc(1em - 2px);
	padding: 4px 6px 4px 6px;
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--ant-theme-inputBackground);
	color: var(--ant-theme-inputText);
	transition: 0.5s;
}
button.ant_inlineButton.ant-low {
	border: 1px solid transparent;
	background-color: transparent;
	color: var(--ant-theme-link);
	font-size: 1em;
	margin: 0;
	padding: 0;
}
button.ant_inlineButton:hover {
	cursor: pointer;
}
button.ant_inlineButton.ant-high:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
}
button.ant_inlineButton.ant-medium:hover {
	border: 1px solid var(--ant-theme-buttonBackground);
	background-color: var(--ant-theme-buttonBackgroundHover);
	color: var(--ant-theme-buttonText);
}
button.ant_inlineButton.ant-low:hover {
	text-decoration: underline;
}
button.ant_inlineButton:focus {
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
	outline-color: var(--ant-theme-buttonBackground);
}
button.ant_inlineButton > img {
	vertical-align: text-bottom;
	margin-left: 0px;
	margin-right: 3px;
}