/* main visible panel */
.ant_inputDate {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
/* button placeholders */
.ant_inputDate > div {
	text-align: center;
	margin-bottom: 10px;
}
/* buttons for previous, next month, month selection, year selection*/
.ant_inputDate > div > input[type=button] {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: 1px solid var(--ant-theme-buttonBackground);
	transition: 0.4s;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: var(--ant-theme-buttonBackground);
	background-color: var(--ant-theme-buttonText);
	border-radius: 0px 0px 0px 0px;
	margin: 2px;
}
.ant_inputDate > div > input.ant_current-year {
	border: 1px solid var(--ant-theme-buttonBackground);
}
.ant_inputDate > div > input[type=button]:first-of-type {
	border-radius: 4px 0px 0px 4px;
}
.ant_inputDate > div > input[type=button]:last-of-type {
	border-radius: 0px 4px 4px 0px;
}
.ant_inputDate > div > input[type=button]:hover {
	border: 1px solid var(--ant-theme-buttonBackgroundHover);
	color: var(--ant-theme-buttonBackgroundHover);
}
/* button for current month and year (fixed width) */
.ant_inputDate:first-of-type > div:first-of-type > input[type=button]:nth-of-type(2) {
	width: 110px;
}
.ant_inputDate:first-of-type > div:first-of-type > input[type=button]:nth-of-type(3) {
	width: 70px;
}
/* buttons with month name and year name */
.ant_inputDate > div:nth-of-type(3) > input[type=button],
.ant_inputDate > div:nth-of-type(4) > input[type=button] {
	border-radius: 0px 0px 0px 0px;
	margin: 5px;
	width: 150px;
}
/* table with days */
.ant_inputDate > table {
	margin-top: 15px;
	width: 100%;
}
.ant_inputDate > table > thead th {
	text-align: center;
	border-bottom: 1px solid var(--ant-theme-panelBorder);
}
.ant_inputDate > table > tbody td {
	text-align: center;
}
.ant_inputDate > table > tbody button {
	width: calc(100% - 10px);
	margin: 5px;
	padding: 5px;
	background-color: var(--ant-theme-inputBackground);
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	transition: .2s;
	color: var(--ant-theme-inputText);
	font-size: 16px;
	cursor: pointer;
}
.ant_inputDate > table > tbody button.ant_today {
	border-style: dashed;
}
.ant_inputDate > table > tbody button:hover {
	text-decoration: none;
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* select day status */
.ant_inputDate.ant-day > div:nth-of-type(2) {
	display: none;
}
.ant_inputDate.ant-day > div:nth-of-type(3) {
	display: none;
}
.ant_inputDate.ant-day > div:nth-of-type(4) {
	display: none;
}
/* select month status */
.ant_inputDate.ant-month > div:nth-of-type(1) {
	display: none;
}
.ant_inputDate.ant-month > div:nth-of-type(2) {
	display: none;
}
.ant_inputDate.ant-month > table {
	display: none;
}
.ant_inputDate.ant-month > div:nth-of-type(4) {
	display: none;
}
/* select year status */
.ant_inputDate.ant-year > div:nth-of-type(1) {
	display: none;
}
.ant_inputDate.ant-year > table {
	display: none;
}
.ant_inputDate.ant-year > div:nth-of-type(3) {
	display: none;
}