.ant_inputFileDrop {
	border: 1px dashed var(--ant-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--ant-theme-inputBackground);
	padding: 15px;
	text-align: center;
	transition: background-color .5s;
}
.ant_inputFileDrop.ant-active {
	border-style: solid;
	background-color: var(--ant-theme-panelSecondaryBackground);
}
.ant_inputFileDrop > i {
	opacity: .5;
	transition: opacity .5s;
}
.ant_inputFileDrop.ant-active > i {
	opacity: 1;
}
.ant_inputFileDrop > p {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.ant_inputFileDrop > input[type=file] {
	display: none;
}