.ant_form-item > select + div {
	padding-top: 5px;
	font-size: 14px;
	font-style: italic;
}
.ant_form-item > select + div.ant-hidden {
	display: none;
}
.ant_inputSelect > a {
	display: block;
	font-size: 20px;
	text-align: left;
	padding: 10px;
	margin-bottom: 2px;
	margin-left: 30px;
	margin-right: 30px;
	transition: 0.2s;
	background-color: var(--ant-theme-panelSecondaryBackground);
	color: var(--ant-theme-inputText);
	border: 1px solid var(--ant-theme-inputBorder);
	border-left: 10px solid var(--ant-theme-panelBorder);
}
.ant_inputSelect > a:first-of-type {
	margin-top: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ant_inputSelect > a:last-of-type {
	margin-bottom: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ant_inputSelect > a:hover {
	text-decoration: none;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: var(--ant-theme-inputBackground);
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
}