.ant_form-item > select + div {
	padding-top: 5px;
	font-size: var(--ant_var-rem14px);
	font-style: italic;
}
.ant_form-item > select + div.ant-hidden {
	display: none;
}
.ant_inputSelect > button {
	display: block;
	width: calc(100% - 60px);
	font-size: var(--ant_var-rem20px);
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	margin-left: 30px;
	margin-right: 30px;
	transition: 0.2s;
	background-color: var(--ant-theme-panelSecondaryBackground);
	color: var(--ant-theme-inputText);
	border: 1px solid var(--ant-theme-inputBorder);
	border-left: 10px solid var(--ant-theme-panelBorder);
	cursor: pointer;
}
.ant_inputSelect > button:first-of-type {
	margin-top: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ant_inputSelect > button:last-of-type {
	margin-bottom: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ant_inputSelect > button:hover {
	text-decoration: none;
	margin-left: 5px;
	padding-left: 20px;
	margin-right: 5px;
	padding-right: 50px;
	width: calc(100% - 10px);
	background-color: var(--ant-theme-inputBackground);
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
}
