.ant_inputSearch > input[type=text] {
	display: inline-block;
	width: calc(100% - 50px);
}
/* clear all button */
.ant_inputSearch > button {
	color: var(--ant-theme-warning);
	margin-left: 10px;
	vertical-align: middle;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
/* search result panel */
.ant_inputSearch > div {
	margin-top: 10px;
}
.ant_inputSearch > div.ant-loading:after {
	content: "";
	display: block;
	border: 16px solid var(--ant-theme-loadingA);
	border-top-color: var(--ant-theme-loadingB);
	border-bottom-color: var(--ant-theme-loadingB);
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	animation: ant_loading-spin 2s linear infinite;
}
/* search result list */
.ant_inputSearch > div > button {
	display: block;
	width: calc(100% - 60px);
	font-size: var(--ant_var-rem20px);
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	margin-left: 30px;
	margin-right: 30px;
	transition: 0.3s;
	border: 1px solid var(--ant-theme-inputBorder);
	border-left: 10px solid var(--ant-theme-panelBorder);
	color: var(--ant-theme-inputText);
	background-color: var(--ant-theme-panelSecondaryBackground);
	cursor: pointer;
}
.ant_inputSearch > div > button:first-child {
	margin-top: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ant_inputSearch > div > button:last-child {
	margin-bottom: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ant_inputSearch > div > button:hover {
	width: calc(100% - 10px);
	text-decoration: none;
	margin-left: 5px;
	padding-left: 20px;
	margin-right: 5px;
	padding-right: 50px;
	box-shadow: 0px 0px 5px var(--ant-theme-shadow);
	background-color: var(--ant-theme-inputBackground);
}