#jsf_inputNewPassword {
	padding: 15px 15px 15px 15px;
}
#jsf_inputNewPassword > div {
	margin-bottom: 10px;
}
#jsf_inputNewPassword ul > li {
	text-decoration: line-through;
}
#jsf_inputNewPassword ul > li.jsf-invalid {
	text-decoration: none;
}
#jsf_inputNewPassword > div:last-of-type {
	margin-top: 25px;
	padding-right: 30px;
	text-align: right;
}