#ant_loading {
	position: fixed;
	display: flex;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--ant-theme-overlay);
	z-index: var(--ant_layers_loading);
}
#ant_loading.ant-blur {
	backdrop-filter: blur(2px);
}
#ant_loading.ant-simple::after {
	content: '';
	border: 16px solid var(--ant-theme-loadingA);
	border-top-color: var(--ant-theme-loadingB);
	border-bottom-color: var(--ant-theme-loadingB);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: ant_loading-spin 2s linear infinite;
}
#ant_loading > div > table {
	position: relative;
	top:0px;
	left: 0px;
	width: 400px;
	color: var(--ant-theme-loadingStepText);
	background-color: var(--ant-theme-loadingStepBackground);
	padding: 180px 15px 15px 15px;
	border-radius: 5px;
	border: 1px solid var(--ant-theme-loadingStepBorder);
	border-collapse: separate;
    border-spacing: 0 4px;
}
#ant_loading > div > table::before {
	position: absolute;
	top: 35px;
	left: calc(50% - 56px);
	display: block;
	content: '';
	background-color: var(--ant-theme-loadingStepBackground);
	border: 16px solid var(--ant-theme-loadingA);
	border-top-color: var(--ant-theme-loadingB);
	border-bottom-color: var(--ant-theme-loadingB);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: ant_loading-spin 2s linear infinite;
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
}
.ant_loading_stepPlaceholder {
	width: 24px;
	height: 24px;
}
#ant_loading > div > table > tr > td {
	padding: 5px;
	box-shadow: 0px 0px 1px var(--ant-theme-shadow);
}
#ant_loading > div > table > tr > td:first-child {
	border-left: 6px solid var(--ant-theme-loadingStepBorder);
}
#ant_loading > div > table > tr.ant-running > td:first-child {
	border-left: 6px solid var(--ant-theme-loadingStepBorder);
}
#ant_loading > div > table > tr > td:nth-of-type(2) {
	width: 100%;
}
#ant_loading > div > table > tr.ant-completed > td:nth-of-type(3) > i.material-icons {
	color: var(--ant-theme-valid);
}
#ant_loading > div > div > button {
	margin-top: 5px;
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	padding: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: var(--ant_var-rem16px);
	border: 1px solid var(--ant-theme-buttonBackground);
	border-radius: 4px;
	transition: 0.5s;
	width: 100%;
}
#ant_loading > div > div > button:hover {
	background-color: var(--ant-theme-buttonBackgroundHover);
	cursor: pointer;
	text-decoration: none;
}
@keyframes ant_loading-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}