body.ant_login {
	background-color: var(--ant-theme-panelBorder);
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}
body.ant_login.ant-hasRecaptcha {
	padding-left: 0px;
	padding-right: 0px;
}
body.ant_login input {
	margin-bottom: 14px;
}
body.ant_login form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
#ant_login-submit {
	width: 150px;
}
#ant_login-submit:disabled, #ant_login-submit:disabled:hover {
	color: var(--ant-theme-buttonBackground);
	background-color: var(--ant-theme-buttonText);
}
#ant_login-action {
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	min-width: 310px;
	min-height: 80px;
}
#ant_login-action > * {
	transition: left 0.6s;
}
#ant_login-action > *:not(#ant_login-recaptcha) {
	position: relative;
	top:0px;
	left: 0%;
}
#ant_login-action > #ant_login-recaptcha {
	position: absolute;
	top:0px;
	left: -100%;
}

#ant_login-action.ant_login-wait-recaptcha > *:not(#ant_login-recaptcha) {
	position: relative;
	top:0px;
	left: -100%;
}
#ant_login-action.ant_login-wait-recaptcha > #ant_login-recaptcha {
	position: absolute;
	top:0px;
	left: 0%;
}