/* main wrapper */
div.ant_menu {
	position: relative;
	left: 0px;
	top: 0px;
}
/* the 3 lines button */
div.ant_menu > button {
	position: absolute;
	top: 0px;
	left: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
/* the lines from the button */
div.ant_menu > button > div {
	width: var(--ant_var-rem36px);
	height: var(--ant_var-rem5px);
	background-color: var(--ant-theme-threeLineButton);
	transition: 0.4s;
}
div.ant_menu > button:hover > div {
	background-color: var(--ant-theme-threeLineButtonHover);
}
div.ant_menu > button > div:nth-child(2) {
	margin-top: var(--ant_var-rem6px);
}
div.ant_menu > button > div:nth-child(3) {
	margin-top: var(--ant_var-rem6px);
}
div.ant_menu > div:first-of-type {
	opacity: 1;
	position: relative;
	top: 0px;
	margin-left: var(--ant_var-rem40px);
	transition: 0.4s;
}
div.ant_menu > div:last-of-type {
	position: absolute;
	top: -3px;
	left: var(--ant_var-rem40px);
	display: none;
}
.ant_menu-item {
	border-radius: 4px;
	display: inline-block;
	font-size: var(--ant_var-rem16px);
	padding: 4px 8px 4px 8px;
	margin-right: 5px;
	transition: 0.4s;
	cursor: pointer;
}
.ant_menu-item > svg {
	margin-right: 3px;
}
.ant_menu-item:hover {
	text-decoration: none;
}
.ant_menu-item.low-contrast {
	border: 1px solid var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonBackground);
	background-color: var(--ant-theme-buttonText);
}
.ant_menu-item.low-contrast:hover {
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackgroundHover);
}
.ant_menu-item.normal {
	border: 1px solid var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackground);
}
.ant_menu-item.normal:hover {
	border: 1px solid var(--ant-theme-buttonBackgroundHover);
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackgroundHover);
}
.ant_menu-item.warning {
	border: 1px solid var(--ant-theme-warning);
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-warning);
}
.ant_menu-item.warning:hover {
	border: 1px solid var(--ant-theme-buttonBackgroundHover);
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackgroundHover);
}
.ant_menu-item.ant-hidden {
	display: none;
}
.ant_menu-item.ant-hidden {
	display: none;
}
.ant_menu-item > * {
	vertical-align: middle;
}
.ant_menu-item > span {
	display: none;
}
@media only screen and (min-width: 500px) {
	.ant_menu-item > span {
		display: inline;
	}
}
div.ant_menu.ant-active > button > div:nth-child(1) {
	transform: rotate(-45deg) translate(var(--ant_var-rem8px-), var(--ant_var-rem6px));
}
div.ant_menu.ant-active > button > div:nth-child(2) {
	opacity: 0;
}
div.ant_menu.ant-active > button > div:nth-child(3) {
	transform: rotate(45deg) translate(var(--ant_var-rem8px-), var(--ant_var-rem8px-)) ;
}
div.ant_menu.ant-active > div:first-of-type {
	top: -30px;
	opacity: 0;
}
div.ant_menu.ant-active > div:last-of-type {
	display: block;
}