/* main wrapper */
div.ant_menu {
	position: relative;
	left: 0px;
	top: 0px;
}
/* the 3 lines button */
div.ant_menu > a {
	position: absolute;
	top: 0px;
	left: 0px;
}
/* the lines from the button */
div.ant_menu > a > div {
	width: 36px;
	height: 5px;
	background-color: var(--ant-theme-buttonBackground);
	transition: 0.4s;
}
div.ant_menu > a:hover > div {
	background-color: var(--ant-theme-buttonBackgroundHover);
}
div.ant_menu > a > div:nth-child(2) {
	margin-top: 6px;
}
div.ant_menu > a > div:nth-child(3) {
	margin-top: 6px;
}
div.ant_menu > div:first-of-type {
	opacity: 1;
	position: relative;
	top: 0px;
	margin-left: 40px;
	transition: 0.4s;
}
div.ant_menu > div:last-of-type {
	position: absolute;
	top: -3px;
	left: 40px;
	display: none;
}
.ant_menu-item {
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackground);
	border-radius: 4px;
	border: none;
	display: inline-block;
	font-size: 16px;
	padding: 4px 8px 4px 8px;
	margin-right: 5px;
	transition: 0.4s;
	cursor: pointer;
}
.ant_menu-item.ant-hidden {
	display: none;
}
.ant_menu-item:hover {
	color: var(--ant-theme-buttonText);
	background-color: var(--ant-theme-buttonBackgroundHover);
	text-decoration: none;
}
.ant_menu-item > * {
	vertical-align: middle;
}
.ant_menu-item > span {
	display: none;
}
div.ant_menu.ant-active > a > div:nth-child(1) {
	transform: rotate(-45deg) translate(-8px, 6px);
}
div.ant_menu.ant-active > a > div:nth-child(2) {
	opacity: 0;
}
div.ant_menu.ant-active > a > div:nth-child(3) {
	transform: rotate(45deg) translate(-8px, -8px) ;
}
div.ant_menu.ant-active > div:first-of-type {
	top: -30px;
	opacity: 0;
}
div.ant_menu.ant-active > div:last-of-type {
	display: block;
}
@media only screen and (min-width: 500px) {
	.ant_menu-item > span {
		display: inline;
	}
}