.ant_modal {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	text-align: center;
	overflow: auto;
	background-color: var(--ant-theme-overlay);
	opacity: 1;
	transition: opacity 0.5s;
	z-index: var(--ant_layers_modal);
}
.ant_modal.ant-blur {
	backdrop-filter: blur(2px);
}
.ant_modal.ant-hidden {
	opacity: 0;
}
.ant_modal > .ant_panel {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: top 0.5s, opacity 0.5s;
}
.ant_modal >.ant_panel.has-icon-attached {
	padding-left: 100px;
}
.ant_modal >.ant_panel > .ant_modal-icon {
	position: absolute;
	left: 10px;
	top: 10px;
	color: var(--ant-theme-panelBorder);
}
.ant_modal.ant-hidden > .ant_panel {
	top: -50px;
	opacity: 0;
}
.ant_modal.ant-hidden > .ant_panel::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: transparent;
}
.ant_modal-header {
	width: 100%;
	border-bottom: 1px solid var(--ant-theme-panelBorder);
	padding: 15px;
	font-weight: bold;
}
.ant_modal-header.ant-left {
	text-align: left;
}
.ant_modal-header.ant-center {
	text-align: center;
}
.ant_modal-header.ant-right {
	text-align: right;
}
.ant_modal-content {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 10px;
}
.ant_modal-content.ant-left {
	text-align: left;
}
.ant_modal-content.ant-center {
	text-align: center;
}
.ant_modal-content.ant-right {
	text-align: right;
}
.ant_modal-footer {
	border-top: 1px solid var(--ant-theme-panelBorder);
	padding: 5px;
}
.ant_modal-footer > input[type=button] {
	margin-left: 7px;
}
.ant_modal-footer.ant-left {
	text-align: left;
}
.ant_modal-footer.ant-center {
	text-align: center;
}
.ant_modal-footer.ant-right {
	text-align: right;
}
/* loading animation */
.ant_modal > .ant_panel.ant-loading > .ant_modal-content {
	visibility: hidden;
	height: 132px;
	overflow: hidden;
}
.ant_modal > .ant_panel.ant-loading > .ant_modal-content:before {
	content: "";
	visibility: visible;
	position: absolute;
	left: 50%;
	margin-left: -56px;
	width: 80px;
	height: 80px;
	border: 16px solid var(--ant-theme-loadingA);
	border-top-color: var(--ant-theme-loadingB);
	border-bottom-color: var(--ant-theme-loadingB);
	border-radius: 50%;
	animation: ant_loading-spin 2s linear infinite;
}
.ant_modal > .ant_panel.ant-no-header > .ant_modal-header {
	display: none;
}
.ant_modal > .ant_panel.ant-no-footer > .ant_modal-footer {
	display: none;
}
.ant_modal-footer-button {
	margin-left: 10px;
}
/* SM (over 768 PX) */
@media only screen and (min-width: 768px) {
	.ant_modal > .ant_panel {
		width: 70%;
	}
}
/* MD (over 992 PX) */
@media only screen and (min-width: 992px) {
	.ant_modal > .ant_panel {
		width: 60%;
	}
}
/* LG (over 1200 PX) */
@media only screen and (min-width: 1200px) {
	.ant_modal > .ant_panel {
		width: 50%;
	}
}
