.jsf_modal {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	text-align: center;
	overflow: auto;
	background-color: var(--jsf-theme-overlay);
	opacity: 1;
	transition: opacity 0.5s;
}
.jsf_modal.jsf-blur {
	backdrop-filter: blur(2px);
}
.jsf_modal.jsf-hidden {
	opacity: 0;
}
.jsf_modal > .jsf_panel {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: top 0.5s, opacity 0.5s;
}
.jsf_modal.jsf-hidden > .jsf_panel {
	top: -50px;
	opacity: 0;
}
.jsf_modal.jsf-hidden > .jsf_panel::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: transparent;
}
.jsf_modal-header {
	width: 100%;
	border-bottom: 1px solid var(--jsf-theme-panelBorder);
	padding: 15px;
	font-weight: bold;
}
.jsf_modal-header.jsf-left {
	text-align: left;
}
.jsf_modal-header.jsf-center {
	text-align: center;
}
.jsf_modal-header.jsf-right {
	text-align: right;
}
.jsf_modal-content {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 10px;
}
.jsf_modal-content.jsf-left {
	text-align: left;
}
.jsf_modal-content.jsf-center {
	text-align: center;
}
.jsf_modal-content.jsf-right {
	text-align: right;
}
.jsf_modal-footer {
	border-top: 1px solid var(--jsf-theme-panelBorder);
	padding: 5px;
}
.jsf_modal-footer > input[type=button] {
	margin-left: 7px;
}
.jsf_modal-footer.jsf-left {
	text-align: left;
}
.jsf_modal-footer.jsf-center {
	text-align: center;
}
.jsf_modal-footer.jsf-right {
	text-align: right;
}
/* loading animation */
.jsf_modal > .jsf_panel.jsf-loading > .jsf_modal-content {
	visibility: hidden;
	height: 132px;
	overflow: hidden;
}
.jsf_modal > .jsf_panel.jsf-loading > .jsf_modal-content:before {
	content: "";
	visibility: visible;
	position: absolute;
	left: 50%;
	margin-left: -56px;
	width: 80px;
	height: 80px;
	border: 16px solid var(--jsf-theme-loadingA);
	border-top-color: var(--jsf-theme-loadingB);
	border-bottom-color: var(--jsf-theme-loadingB);
	border-radius: 50%;
	animation: jsf_loading-spin 2s linear infinite;
}
.jsf_modal > .jsf_panel.jsf-no-header > .jsf_modal-header {
	display: none;
}
.jsf_modal > .jsf_panel.jsf-no-footer > .jsf_modal-footer {
	display: none;
}
.jsf_modal-footer-button {
	margin-left: 10px;
}
/* SM (over 768 PX) */
@media only screen and (min-width: 768px) {
	.jsf_modal > .jsf_panel {
		width: 70%;
	}
}
/* MD (over 992 PX) */
@media only screen and (min-width: 992px) {
	.jsf_modal > .jsf_panel {
		width: 60%;
	}
}
/* LG (over 1200 PX) */
@media only screen and (min-width: 1200px) {
	.jsf_modal > .jsf_panel {
		width: 50%;
	}
}