.jsf_panel {
	border: 1px solid var(--jsf-theme-panelBorder);
	border-radius: 4px;
	box-shadow: 0px 0px 4px var(--jsf-theme-shadow);
	padding: 10px;
	background-color: var(--jsf-theme-panelBackground);
}
.jsf_panel hr {
	border: none;
	background-color: var(--jsf-theme-panelBorder);
	height: 1px;
}
.jsf_panel > .jsf_form-item {
	margin-bottom: 10px;
}
.jsf_panel ~ .jsf_panel {
	margin-top: var(--jsf_var-wireframe-padding);
}
.jsf_panel.jsf-max-height {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.jsf_panel > .jsf-header {
	position: relative;
	border-bottom: 1px solid var(--jsf-theme-panelBorder);
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: var(--jsf-theme-panelTitle);
}
.jsf_panel > .jsf-header h2 {
	color: var(--jsf-theme-panelTitle);
}
.jsf_panel > .jsf-content > p:first-child {
	margin-top: 0px;
}
.jsf_panel > .jsf-footer {
	padding-top: 10px;
	border-top: 1px solid var(--jsf-theme-panelBorder);
	margin-top: auto;
}
#jsf_panel-centered {
	margin-left: 8px;
	margin-right: 8px;
}
@media only screen and (min-width: 768px) {
	#jsf_panel-centered {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}
}
/** loading animation */
.jsf_panel.jsf-loading > div.jsf-content {
	visibility: hidden;
	min-height: 132px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.jsf_panel.jsf-loading > div.jsf-content:before {
	content: "";
	visibility: visible;
	position: absolute;
	left: 50%;
	margin-left: -56px;
	top: 50%;
	margin-top: -56px;
	width: 80px;
	height: 80px;
	border: 16px solid var(--jsf-theme-loadingA);
	border-top-color: var(--jsf-theme-loadingB);
	border-bottom-color: var(--jsf-theme-loadingB);
	border-radius: 50%;
	animation: jsf_loading-spin 2s linear infinite;
}
.jsf_panel.jsf-loading > div.jsf-footer {
	display: none;
}
/** FILE BROWSER PANEL */
/** the empty folder text info */
.jsf_panel.jsf-fileBrowser > .jsf-content > p {
	text-align: center;
}
/** the visible links */
.jsf_panel.jsf-fileBrowser > .jsf-content > div:last-child {
	border-bottom: 1px solid var(--jsf-theme-panelBorder);
}
.jsf_panel.jsf-fileBrowser > .jsf-content > div > a {
	display: block;
	width: 100%;
	background-color: var(--jsf-theme-panelSecondaryBackground);
	border-top: 1px solid var(--jsf-theme-panelBorder);
	border-left: 0px solid var(--jsf-theme-panelBorder);
	padding: 10px;
	transition: 0.5s;
}
.jsf_panel.jsf-fileBrowser > .jsf-content > div > a > * {
	vertical-align: middle;
}
.jsf_panel.jsf-fileBrowser > .jsf-content > div > a:hover {
	text-decoration: none;
	border-left: 10px solid var(--jsf-theme-panelBorder);
}
/** the hidden options */
.jsf_panel.jsf-fileBrowser > .jsf-content > div > div {
	transition: opacity 0.6s;
	opacity: 0;
	overflow: hidden;
	height: 0px;
	margin-left: 5px;
	margin-right: 5px;
}
.jsf_panel.jsf-fileBrowser > .jsf-content > div.jsf-active > div {
	opacity: 1;
	height: auto;
	padding: 10px;
}
.jsf_panel.jsf-fileBrowser > .jsf-content > div.jsf-active > div {
	box-shadow: 0px 0px 2px var(--jsf-theme-shadow);
}