.ant_permissions {
	margin-top: 30px;
	width: 100%;
}
.ant_permissions > thead > tr > th > p {
	text-align: center;
}
.ant_permissions > tbody > tr:first-child > td > p {
	font-weight: bold;
	text-align: right;
}
.ant_permissions > tbody > tr:not(:first-child) > td:first-child {
	text-align: right;
}
@media only screen and (max-width: 768px) {
	.ant_permissions > tbody > tr:first-child > td > p {
		display: none;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:first-child {
		width: 50%;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:last-child {
		width: 50%;
	}
}
@media only screen and (min-width: 768px) {
	.ant_permissions > thead > tr > th > p {
		display: none;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:first-child {
		width: 35%;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:last-child {
		width: 35%;
	}
}
@media only screen and (min-width: 992px) {
	.ant_permissions > tbody > tr:not(:first-child) > td:first-child {
		width: 40%;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:last-child {
		width: 40%;
	}
}
@media only screen and (min-width: 992px) {
	.ant_permissions > tbody > tr:not(:first-child) > td:first-child {
		width: 30%;
	}
	.ant_permissions > tbody > tr:not(:first-child) > td:last-child {
		width: 50%;
	}
}