#ant_search-sort-label {
	margin-top: 15px;
}
#ant_search-sort-order {
	color: var(--ant-theme-link);
	margin: 0 auto 0 10px;
	padding: 5px 0 0 0;
	width: var(--ant_var-rem50px);
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: block;
	float: right;
}
#ant_search-sort-order:hover {
	color: var(--ant-theme-linkHover);
}
#ant_search-options {
	margin-bottom: 15px;
}
#ant_search-options td:first-child {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* options buttons wrapper*/
#ant_search-options td:last-child > div {
	position: relative;
	text-align: right;
	overflow: hidden;
	transition: 0.5s;
	opacity: 0;
	top: -20px;
	height: 0px;
}	
#ant_search-options.ant-show-buttons td:last-child > div {
	opacity: 1;
	top: 0px;
	height: auto;
}
@media only screen and (min-width: 768px) {
	#ant_search-sort-label {
		text-align: right;
		float: right;
	}
}
/******************************************************************** FILTERS */
.ant_search-active-filter {
	position: relative;
	display: inline-block;
	background-color: var(--ant-theme-buttonBackground);
	color: var(--ant-theme-buttonText);
	padding: var(--ant_var-rem5px) var(--ant_var-rem30px) var(--ant_var-rem5px) var(--ant_var-rem10px);
	border-radius: 5px;
	margin: 5px;
	font-size: var(--ant_var-rem14px);
}
.ant_search-active-filter > a {
	position: absolute;
	top: 1px;
	right: 5px;
	color: var(--ant-theme-buttonText);
}
#ant_search-reset {
	background-color: var(--ant-theme-buttonText);
	color: var(--ant-theme-buttonBackground);
}
/*************************************************************** PAGE CONTROL */
#ant_search-pages {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: var(--ant_var-rem50px);
	text-align: center;
	background-color: var(--ant-theme-topBottomBarBackground);
	color: var(--ant-theme-topBottomBarText);
	padding-top: var(--ant_var-rem5px);
}
#ant_search-pages > table {
	 margin-left: auto;
	 margin-right: auto;
}
#ant_search-pages > table td:first-child, #ant_search-pages > table td:last-child {
	 width: calc(var(--ant_var-rem10px) * 8);
}
#ant_search-pages button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: var(--ant-theme-buttonText);
	color: var(--ant-theme-buttonBackground);
	border: none;
	border-radius: 10px;
	padding: 1px 15px 1px 15px;
	cursor: pointer;
	transition: 0.5s;
}
#ant_search-pages button.ant-back:hover {
	padding-left: 10px;
	padding-right: 20px;
}
#ant_search-pages button.ant-forward:hover {
	padding-left: 20px;
	padding-right: 10px;
}
#ant_search-input-page {
	width: calc(var(--ant_var-rem10px) * 6);
	padding: 5px;
	text-align: center;
	margin-left: var(--ant_var-rem10px);
	margin-right: var(--ant_var-rem10px);
}