.ant_slide-button {
	text-decoration: none;
	color: var(--ant-theme-link);
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-size: var(--ant_var-rem16px);
}
.ant_slide-button:hover {
	text-decoration: none;
	color: var(--ant-theme-linkHover);
}
.ant_slide-button.ant-icon:before {
	font-family: "Material Icons";
	font-size: var(--ant_var-rem24px);
	content: "arrow_downward";
	position: relative;
	top: var(--ant_var-rem6px);
}
.ant_slide-button.ant-icon.ant-enabled:before {
	content: "close";
}
.ant_slide {
	overflow: hidden;
}
.ant_slide > div {
	position: relative;
	top: 0px;
	transition: top 0.5s, opacity 0.5s;
	overflow: hidden;
}
.ant_slide > div:first-child {
	top: -80px;
	height: 0;
	opacity: 0;
}
.ant_slide > div:last-child {
	top: 0px;
	height: auto;
	opacity: 1;
}
.ant_slide.ant-enabled > div:first-child {
	top: 0px;
	height: auto;
	opacity: 1;
}
.ant_slide.ant-enabled > div:last-child {
	top: -80px;
	height: 0;
	opacity: 0;
}