.ant_table-scroll {
	width: 100%;
	overflow-x: auto;
}
.ant_table-scroll > table {
	min-width: 600px;
}
.ant_table-default > thead > tr {
	background-color: var(--ant-theme-panelSecondaryBackground);
}
.ant_table-default > thead > tr > th {
	border-bottom: 1px solid var(--ant-theme-panelBorder);
	padding: 5px;
	text-align: left;
}
.ant_table-default > tbody > tr > td {
	padding: 5px;
	background-color: var(--ant-theme-panelBackground);
}
.ant_table-default > tbody > tr:not(:first-child) > td {
	padding: 5px;
	background-color: var(--ant-theme-panelBackground);
	border-top: 1px solid var(--ant-theme-panelBorder);
}
.ant_table-alternate > tbody > tr:nth-of-type(even) > td {
	background-color: var(--ant-theme-panelSecondaryBackground);
}
