* {
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	font-size: 1rem;
}
html.ant_other_full-height {
	height: 100%;
}
body {
	position: relative;
	padding: 0;
	margin: 0;
	color: var(--ant-theme-text);
}
body.ant_tags_bottom-bar {
	background: linear-gradient(to top, var(--ant-theme-topBottomBarBackground) 50px, var(--ant-theme-background) 50px);
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
	color: var(--ant-theme-headerText);
	margin: 0;
	padding: 0;
	font-size: var(--ant_var-rem25px);
}
h2 {
	color: var(--ant-theme-text);
	margin: 0;
	padding: 0;
	font-size: var(--ant_var-rem20px);
}
h3 {
	color: var(--ant-theme-text);
	margin: 0;
	padding: 0;
	font-size: var(--ant_var-rem16px);
	font-weight: normal;
}
table, tr, td {
	margin: 0;
	padding: 0;
}			
a {
	text-decoration: none;
	outline: 0;
	color: var(--ant-theme-link);
}
a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: var(--ant-theme-linkHover);
	text-decoration: underline;
}
label {
	font-size: var(--ant_var-rem14px);
	font-weight: bold;
	color: var(--ant-theme-inputLabel);
}