#ant_topBar {
	position: relative;
	display: flex;
	padding: 15px 15px 15px 15px;
	justify-content: space-between;
	background-color: var(--ant-theme-topBottomBarBackground);
	z-index: var(--ant_layers_topBar);
}
body.ant_topBarFixed > #ant_topBar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
#ant_topBar a,
#ant_topBar button {
	color: var(--ant-theme-topBottomBarText);
	white-space: nowrap;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}
#ant_topBar a > span,
#ant_topBar button > span {
	display: none;
	font-size: var(--ant_var-rem16px);
}
#ant_topBar a > *,
#ant_topBar button > * {
	vertical-align: middle;
}
#ant_topBar a > svg,
#ant_topBar button > svg {
	margin-right: 3px;
}
#ant_topBar a:hover,
#ant_topBar button:hover {
	text-decoration: none;
	text-shadow: 0px 0px 8px var(--ant-theme-topBottomBarText);
}
#ant_topBar > ul {
	list-style-type: none;
	display: flex;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#ant_topBar > ul > li {
	margin-left: 15px;
	display: flex;
	align-items: center;
}
#ant_topBar > form {
	position: relative;
	top: 0;
	left: 0;
	flex-grow: 1;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}
#ant_topBar > form > input {
	width: 30%;
	min-width: 150px;
	max-width: 300px;
	transition: 0.4s;
}
#ant_topBar > form > svg {
	position: absolute;
	top: 6px;
	right: 10px;
	color: var(--ant-theme-inputIcon);
	pointer-events: none;
}
#ant_topBar > form > input.ant_topBar_focus-animation:focus {
	max-width: 100%;
	width: 90%;
}
@media only screen and (min-width: 768px) {
	#ant_topBar a > span,
	#ant_topBar button > span {
		display: inline;
	}
}
