/* The wireframe structure */
.ant_wireframe {
	margin-right: auto;
	margin-left: auto;
}
/* A row from the wireframe*/
.ant_wireframe > div {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.ant_wireframe.ant-center > div {
	justify-content: center;
}
.ant_wireframe.ant-left > div {
	justify-content: flex-start;
}
.ant_wireframe > div > div.ant-left {
	text-align: left;
}
.ant_wireframe > div > div.ant-center {
	text-align: center;
}
.ant_wireframe > div > div.ant-right {
	text-align: right;
}
[class*="ant_wireframe-col-"] {
	width: 100%;
	position: relative;
}
[class*="ant_wireframe-col-"].ant-h-padding {
	padding-left: var(--ant_var-wireframe-padding);
	padding-right: var(--ant_var-wireframe-padding);
}
[class*="ant_wireframe-col-"].ant_v-padding {
	padding-top: calc(var(--ant_var-wireframe-padding) / 2);
	padding-bottom: calc(var(--ant_var-wireframe-padding) / 2);
}
/************************************ WIREFRAME INPUT DEFAULT HIDDEN SETTINGS */
div.ant_wireframe.hide-input-hidden-default > div.input-default-hidden {
	overflow: hidden;
	height: 0px;
}
div.ant_wireframe > div.input-default-hidden > div {
	opacity: 1;
	top: 0px;
	transition: .5s;
}
div.ant_wireframe.hide-input-hidden-default > div.input-default-hidden > div {
	top: -15px;
	opacity: 0;
}
button.wireframe_button-more-options {
	width: 100%;
	padding: 4px 10px 4px 10px;
	margin: 0;
	display: inline-block;
	border: 1px solid var(--ant-theme-inputBorder);
	border-radius: 4px;
	background-color: var(--ant-theme-inputBackground);
	font-size: var(--ant_var-rem14px);
	color: var(--ant-theme-inputText);
}
button.wireframe_button-more-options:hover {
	cursor: pointer;
	box-shadow: 0px 0px 4px var(--ant-theme-shadow);
}
div.ant_wireframe > div > div > button.wireframe_button-more-options > span:first-child {
	display: inline;
}

div.ant_wireframe > div > div > button.wireframe_button-more-options > span:last-child {
	display: none;
}

div.ant_wireframe.hide-input-hidden-default > div > div > button.wireframe_button-more-options > span:first-child {
	display: none;
}

div.ant_wireframe.hide-input-hidden-default > div > div > button.wireframe_button-more-options > span:last-child {
	display: inline;
}
/********************************************************** XS (BELOW 768 PX) */
.ant_wireframe-col-xs-1 {width: 8.33%;}
.ant_wireframe-col-xs-2 {width: 16.66%;}
.ant_wireframe-col-xs-3 {width: 25%;}
.ant_wireframe-col-xs-4 {width: 33.33%;}
.ant_wireframe-col-xs-5 {width: 41.66%;}
.ant_wireframe-col-xs-6 {width: 50%;}
.ant_wireframe-col-xs-7 {width: 58.33%;}
.ant_wireframe-col-xs-8 {width: 66.66%;}
.ant_wireframe-col-xs-9 {width: 75%;}
.ant_wireframe-col-xs-10 {width: 83.33%;}
.ant_wireframe-col-xs-11 {width: 91.66%;}
.ant_wireframe-col-xs-12 {width: 100%;}
/*********************************************************** SM (OVER 768 PX) */
@media only screen and (min-width: 768px) {
	.ant_wireframe-col-sm-1 {width: 8.33%;}
	.ant_wireframe-col-sm-2 {width: 16.66%;}
	.ant_wireframe-col-sm-3 {width: 25%;}
	.ant_wireframe-col-sm-4 {width: 33.33%;}
	.ant_wireframe-col-sm-5 {width: 41.66%;}
	.ant_wireframe-col-sm-6 {width: 50%;}
	.ant_wireframe-col-sm-7 {width: 58.33%;}
	.ant_wireframe-col-sm-8 {width: 66.66%;}
	.ant_wireframe-col-sm-9 {width: 75%;}
	.ant_wireframe-col-sm-10 {width: 83.33%;}
	.ant_wireframe-col-sm-11 {width: 91.66%;}
	.ant_wireframe-col-sm-12 {width: 100%;}
	.ant_wireframe:not(.ant-fluid) {width: 750px;}
	[class*="ant_wireframe-col-"].ant-h-padding {
		padding-left: calc(var(--ant_var-wireframe-padding) / 2);
		padding-right: calc(var(--ant_var-wireframe-padding) / 2);
	}
}
/*********************************************************** MD (OVER 992 PX) */
@media only screen and (min-width: 992px) {
	.ant_wireframe-col-md-1 {width: 8.33%;}
	.ant_wireframe-col-md-2 {width: 16.66%;}
	.ant_wireframe-col-md-3 {width: 25%;}
	.ant_wireframe-col-md-4 {width: 33.33%;}
	.ant_wireframe-col-md-5 {width: 41.66%;}
	.ant_wireframe-col-md-6 {width: 50%;}
	.ant_wireframe-col-md-7 {width: 58.33%;}
	.ant_wireframe-col-md-8 {width: 66.66%;}
	.ant_wireframe-col-md-9 {width: 75%;}
	.ant_wireframe-col-md-10 {width: 83.33%;}
	.ant_wireframe-col-md-11 {width: 91.66%;}
	.ant_wireframe-col-md-12 {width: 100%;}
	.ant_wireframe:not(.ant-fluid) {width: 970px;}
}
/********************************************************** LG (OVER 1200 PX) */
@media only screen and (min-width: 1200px) {
	.ant_wireframe-col-lg-1 {width: 8.33%;}
	.ant_wireframe-col-lg-2 {width: 16.66%;}
	.ant_wireframe-col-lg-3 {width: 25%;}
	.ant_wireframe-col-lg-4 {width: 33.33%;}
	.ant_wireframe-col-lg-5 {width: 41.66%;}
	.ant_wireframe-col-lg-6 {width: 50%;}
	.ant_wireframe-col-lg-7 {width: 58.33%;}
	.ant_wireframe-col-lg-8 {width: 66.66%;}
	.ant_wireframe-col-lg-9 {width: 75%;}
	.ant_wireframe-col-lg-10 {width: 83.33%;}
	.ant_wireframe-col-lg-11 {width: 91.66%;}
	.ant_wireframe-col-lg-12 {width: 100%;}
	.ant_wireframe:not(.ant-fluid) {width: 1170px;}
}